.skills{
    width:100%;
    padding:120px 90px;
}

.skills-container{
    max-width:1200px;
    margin:0 auto;
}

.skills-title{
    font-size:72px;
    font-weight:800;
    color:#2F241F;
    margin-bottom:20px;
}

.skills-subtitle{
    max-width:950px;
    font-size:26px;
    font-weight:600;
    line-height:1.8;
    color:#3B2E28;
    margin-bottom:70px;
}

.skills-grid{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:60px 80px;

}

.skill-group h3{

    font-size:28px;
    color:#2F241F;
    margin-bottom:18px;
    padding-bottom:10px;
    border-bottom:2px solid #2F241F;

}

.skill-list{

    display:flex;
    flex-wrap:wrap;
    gap:14px 20px;

}

.skill-list span{

    font-size:23px;
    font-weight:600;
    color:#4b3b33;
    cursor:pointer;
    transition:0.3s ease;

}

.skill-list span:hover{

    color:#2F241F;

    transform:translateY(-2px);

}