.about{

    width:100%;
    padding:80px 90px 120px;
}

.about-container{
    max-width:1200px;
    margin:0 auto;

    display:flex;
    flex-direction:column;
    align-items:flex-end;
}

.about-content-wrapper{
    width:650px;
    margin-bottom:30px;
}

.about-title{

    font-size:clamp(42px,6vw,72px);

    font-weight:800;

    color:#2F241F;

    margin-bottom:25px;
}

.about-content{
    width:100%;       /* <-- This is the important part */
    max-width:1200px;

    font-size:24px;
    line-height:2;
    text-align:justify;
}

/* ===========================
   TABLET
=========================== */

@media (max-width:1200px){

.about{
    padding:70px 50px 100px;
}

.about-title{
    font-size:56px;
}

.about-content{
    font-size:21px;
    line-height:1.8;
}

}

/* ===========================
   MOBILE
=========================== */

@media (max-width:768px){

.about{
    padding:50px 25px 70px;
}

.about-container{
    align-items:center;
}

.about-title{
    font-size:36px;
    text-align:center;
}

.about-content{
    font-size:17px;
    line-height:1.8;
    text-align:justify;
}

}