.footer{

    width:100%;
    padding:70px 90px 40px;

    background:#f7f4f1;

    border-top:1px solid rgba(91,67,55,0.15);

}

.footer-container{

    max-width:1200px;
    margin:auto;

    text-align:center;

}

.footer-name{

    font-size:44px;
    font-weight:800;

    color:#2f241f;

}

.footer-tagline{

    margin-top:15px;

    font-size:21px;

    color:#5b4337;

    font-weight:600;

}

.footer-links{
        display:flex;

    justify-content:center;

    align-items:center;

    flex-wrap:wrap;

    gap:16px;

    margin:40px 0;

}

.footer-links a{
    position: relative;

    text-decoration: none;

    color: #5b4337;

    font-size: 21px;

    font-weight: 600;

    transition: color .3s ease;

}
.footer-links a::after{

    content: "";

    position: absolute;

    left: 0;
    bottom: -4px;

    width: 0;

    height: 2px;

    background: #5b4337;

    transition: width .35s ease;

}
.footer-links a:hover::after{

    width: 100%;

}

.footer-links a:hover{

    color: #2f241f;

}

.footer-social{

    display:flex;

    justify-content:center;

    gap:35px;

    margin-bottom:35px;

}

.footer-social a{

    text-decoration:none;

    color:#5b4337;

    font-weight:600;

    font-size:22px;

    transition:.3s;

}

.footer-social a:hover{

    color:#2f241f;

}

.footer-copy{

    font-size:19px;

    color:#7a6f67;

    margin-bottom:10px;

}

.footer-built{

    font-size:15px;

    color:#8d8179;

}